body, html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(37, 10%, 8%) linear-gradient(to bottom, hsl(37, 10%, 16%), hsl(37, 10%, 8%) 415px) no-repeat!important;
}
.grade9-header {
    width: 200px; /* establish a common width */
    vertical-align: bottom;
  }
  
.grade-bottom-header {
    width:200px;
    vertical-align:bottom;
  }