/* Dark Mode Styling for Grades */
body, html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: hsl(37, 10%, 8%) linear-gradient(to bottom, hsl(37, 10%, 16%), hsl(37, 10%, 8%) 415px) no-repeat!important;
    margin: 0;
    padding: 0;
}
.grades-link {
    border: none;
    border-radius: 14px;
    display: flex; 
    padding: 10px; 
    margin-top: 140px; 
}

.attendance-link {
    border: none;
    border-radius: 14px;
    display: flex; 
    padding: 10px;  
    margin-top: 100px; 
}

.careerplan-link {
    border: none;
    border-radius: 14px;
    display: flex; 
    padding: 5px;  
    margin-top: 100px; 
}

.schedule-link {
    border: none;
    border-radius: 14px;
    display: flex;
    padding: 5px;
    margin-top: 100px; 
}
.material-icons {
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 20px;
}
div .attendance-header  {
    text-align: left;
    margin-left: 10px;
}
.attendance-text {
    margin-left: 10px;
}
div .careerplan-header {
    text-align: left;
    margin-left: 10px;
}
.careerplan-text {
    margin-left: 10px; 
}
div .grades-header {
    text-align: left;
    margin-left: 10px;
}
.grades-text {
    margin-left: 10px; 
}
div .schedule-header {
    text-align: left;
    margin-left: 10px;
}
.schedule-text{
    margin-left: 10px;
}
.button-container {
    background-color: white;
    border-radius: 12px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}
button {
    width: 500px; 
    height: 100px;
    margin: 120px auto 0;
}
.header {
    color: white;
    margin-left: 35%;
    margin-right:30%;

}
.header-div {
    background-color: #2196f3;
    height: 12vh;          
    width: 100%;           
    position: relative;        
    top: 90px;
    display: grid;
    place-items: center;             
}
.main-box {
    display: grid;
    place-items: center;
    height: 12vh;
    width: 100%;
    position: fixed; /* Ensures it stays fixed on the screen */
    top: 0; /* Stays at the top */
    z-index: 1000; /* Keeps it above other elements */
    background: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow for better visibility */
}
.main-box ul {
    display: flex; /* Flexbox for alignment */
    list-style-type: none;
    color: white;
    overflow: hidden;
    width: fit-content; /* Shrinks to fit content */
    height: 75%;
    align-items: center;
    margin: 0 auto; /* Centers the element horizontally */
    padding: 0;
}

.main-box ul li a {
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    font-weight: bold;
}





  
  